<div class="table-cell"><img draggable="false" src="{{friend.photo_100}}"></div>
<div class="table-cell">{{friend.first_name}} {{friend.last_name}}</div>
<div class="table-cell">
  <div class="add" draggable="false" {{action actionClicked friend}}></div>
</div>

